.w3l_banner_nav_right {
    margin-top: -144px;
}

.w3_login_module {
    margin-top: 144px;
}

.btn.login, .btn.singup {
    width: 100%;
}

.privacy.about.cart {
    margin-top: -50px;
}

.privacy.about.orders {
    margin-top: -30px;
}

.privacy.about.checkout {
    margin-top: -28px;
}

.w3l_title.products {
    margin-bottom: 25px;   
    margin-top: -24px;
}